@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "YekanBakh";
    src: url("/public/Pro+/Yekan\ Bakh\ FaNum/otf/YekanBakhFaNum-Regular.otf") 
}

#main-root{
    margin: 0;
    padding: 0;
    background-color: white;
}
#root{
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F9F9F9;
}
*{
    font-family: 'YekanBakh';
}
